/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --palette1-dark-navy: #210f37;
  --palette1-dark-purple: #4f1c51;
  --palette1-brick: #a55b4b;
  --palette1-gold-sand: #dca06d;

  --palette2-dark-navy: #0e2148;
  --palette2-purple: #483aa0;
  --palette2-light-purple: #7965c1;
  --palette2-beige-gold: #e3d095;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #242424;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
