/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --palette1-dark-navy: #210f37;
  --palette1-dark-purple: #4f1c51;
  --palette1-brick: #a55b4b;
  --palette1-gold-sand: #dca06d;

  --palette2-dark-navy: #0e2148;
  --palette2-purple: #483aa0;
  --palette2-light-purple: #7965c1;
  --palette2-beige-gold: #e3d095;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");

:root {
  --font-press-start: "Press Start 2P", normal;
  --font-jacquard: "Jacquard 12", normal;
  --shadow: 2px 2px 0 #000000, 4px 4px 0 #000000;
  --shadow-gray: 2px 2px 0 gray, 4px 4px 0 gray;
  --gray-background-rgb: 36, 36, 36;
  --gray-background: rgb(36, 36, 36);
  --purple-background: #0d0d1a;
}

.font-press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-jacquard {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  font-family: var(--font-press-start);
  background-color: var(--gray-background);
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--font-jacquard);
  font-size: 6rem;
  text-shadow: var(--shadow);
}

p {
  text-shadow: var(--shadow);
  font-size: 0.8rem;
}

button {
  all: unset;
  font-family: var(--font-press-start);
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  width: fit-content;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  box-shadow: var(--shadow-gray);
}

button:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 2px 2px 0 0 gray, 4px 4px 0 0 gray,
    0 0 15px rgba(255, 255, 255, 0.7);
  transform: translate(0, 0);
  animation: glitch 0.3s steps(2, end) infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
  5% {
    transform: translate(-2px, -2px);
    clip-path: inset(10px 0 10px 0);
  }
  10% {
    transform: translate(2px, 2px);
    clip-path: inset(10px 0 10px 0);
  }
  15% {
    transform: translate(-2px, 0);
    clip-path: inset(0 10px 0 10px);
  }
  20% {
    transform: translate(2px, 0);
    clip-path: inset(0 10px 0 10px);
  }
  25% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
  100% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
}

input {
  all: unset;
  margin-top: 10px;
  font-family: var(--font-press-start);
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  width: fit-content;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  box-shadow: var(--shadow-gray);
}

input:focus {
  border: solid 3px white;
}
